<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HEY</title>
  </head>
  <body>
    {{#each data}}
      <h1>Search Results for Instructor {{this.instFirstName}}</h1>
    {{/each}}
  </body>
</html>
