<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HEY</title>
  </head>

  <body>
    <header>
      <h1>Track Instructors</h1>
    </header>
<label for="cohort">Search by Cohort Number</label>
    <form class="" action="/cohort" method="post">
      <select class="" name="id">
      {{#each cohort}}
        <option value="{{this.id}}">{{this.cohortNumber}}</option>
      {{/each}}
      </select>
      <button>Search Cohort</button>
    </form>

    <label for="cohort">Search by Instructor Name</label>
        <form class="" action="/instructor" method="post">
          <select class="" name="id">
          {{#each instructor}}
            <option value="{{this.id}}">{{this.instFirstName}}</option>
          {{/each}}
          </select>
          <button>Search Instructor</button>
        </form>

<label for="addCohort">Add a New Cohort</label>
<form class="" action="/addCohort" method="post">
  <input type="integer" name="cohortNumber" value="" placeholder="Cohort Number">
  <input type="text" name="cohortCampus" value="" placeholder="Campus">
  <label for="cohortStart">Start Date:</label><input type="date" name="cohortStart" value="">
  <label for="cohortEnd">End Date:</label><input type="date" name="cohortEnd" value="">
  <input type="integer" name="cohortSize" value="" placeholder="Number of Students">
  <button>Submit</button>
</form>

  </body>
</html>
